.libs/
*.o
*.lo
*.la
Makefile
Makefile.in
autom4te.cache
.deps/
confdefs.h
config.log
config.status
config.cache
configure.lineno
config.status.lineno
libtool
mgconfig.h.in~
mgconfig.h
minigui.pc
stamp-h1
tmp/
aclocal.m4
si_pro
