
######################################
#  功能开关
######################################
[switch]
power_on_record=0
volume=0
time_water_mask=1
awmd=0
mount=0
wifi=0
park=0
alignline=1
[defaultlicense]
current=0
position=京XXXXXXX
############################
# 语言
# 0		中文简体
# 1		英文
# 2		中文繁体
# 3     日文
# 4     韩文
# 5     俄文
############################
[language]
current=0
count=2

############################
# 录像质量
# 0		FHD
############################
[video_quality]
current=0
count=1

############################
# 拍照质量
# 0		2M
############################
[photo_quality]
current=0
count=1

############################
# 录像时长
# 0		一分钟
# 1		二分钟
# 2		三分钟
############################
[video_time_length]
current=1
count=3

############################
# 白平衡
# 0		自动
# 1		晴天
# 2		阴天
# 3		白炽光
# 4		荧光
############################
[white_balance]
current=0
count=5

[contrast]
current=0
count=6

[exposure]
current=3
count=7

############################
# 屏幕背光关闭延时
# 0	10s
# 1	20s
# 2	30s
# 3	长亮
############################
[screen_switch]
current=3
count=4
[verification]
current=1

############################
# 停车监控GSensor灵敏度
# 0	高
# 1	中
# 2	低
############################
[gsensor]
current=0
count=3

############################
# 碰撞时候GSensor灵敏度
# 0	高
# 1	中
# 2	低
############################
[impactlevel]
current=2
count=3

############################
# 前车碰撞提醒灵敏度
# 0	高
# 1	中
# 2	低
############################
[fcwsensity]
current=1
count=3

############################
# 音量调节
# 0	高
# 1	中
# 2	低
############################
[voicevol]
current=1
count=3

############################
# 自动关机
# 1 min
# 3 min
# 10 min
# 关闭
############################
[shutdown]
current=3
count=4

############################
# 阿凡达智能提示
# 关闭
# 精简提示
# 全功能提示
# 智能说明
############################
[smartalgorithm]
current=0
count=4
