# Option Values:
#
# option apssid                  The access point name as seen by the onboarder application.
#                                Note: In order for Alljoyn to detect the access point the name must start with prefix 'AJ_'
# option apencryption            The cypher mode
#                                For the full list refer to http://wiki.openwrt.org/doc/uci/wireless#wpa.modes
#                                Example - WPA2 would be: option apencryption 'psk2+tkip+ccmp'
# option apkey                   Cypher key for connecting to the access point
# option aphidden                Determines whether the softAp will be hidden or broadcast. Default is 0 - not hidden

config onboarding
        option apssid 'AJ_OpenWRT'
        option apencryption 'none'
        option apkey ''
        option aphidden '0'
